<h1> Upload a new outfit! </h1>

<h2><script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
  UPLOADCARE_PUBLIC_KEY = "d6fa2b04d2b228d6b5a0";
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script></h2>


<input type="hidden" role="uploadcare-uploader"
       data-crop=""
       data-images-only="true" />
