<p>
  <strong>Title:</strong>
  <%= @outfit.name %>
  <%=image_tag(@outfit.image_url, class: "img-responsive thumbnail") %>
  <strong>Description:</strong>  <%= @outfit.description %>
  <p> Check out the tags </p>
  <% @outfit.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
